

body {
    background-color: #131320;
    color: #E6E6E6;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
	scroll-snap-type: y mandatory;
    
    height: 100%;
    
}

/* Estilos del header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131320; /* Puedes cambiar el color si es necesario */
    padding: 10px;
    width: 100%;
    top: 0;
    position: fixed; /* Fija el header en la parte superior */
    z-index: 1000;
}

/* Estilos de la lista */
header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

/* Estilos para los elementos de la lista */
header li {
    margin: 0 15px;
}

/* Estilos para los enlaces */
header a {
    color: #3777FF;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* Efecto hover para los enlaces */
header a:hover {
    color: #E6E6E6; /* Cambia de color al pasar el mouse */
}

header a:active{
	color: #C9A91D;
}

header a:visited{
	color:#C9A91D
}


/* Responsive design para pantallas pequeñas */
@media (max-width: 768px) {
    header ul {
        flex-direction: column;
    }

    header li {
        margin: 10px 0;
    }
}

/* index styles*/
.main-container {
	
	display: flex;
	flex-flow: row wrap;
    justify-content: center;
	align-items: center;
	align-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.main-left{
	
    
	flex: 1;
}

.main-left p{
	
    margin-left: 13%;
	margin-top: 0;
	margin-bottom: 2%;
	margin-right: 0;
	font-size: 25px;
	
}
.main-right {
  
    flex: 1;
}

.main-right img {
   display: block;
   
   max-height: 100vh; /* maintain aspect ratio*/
   margin-left: auto;
   
}


h1.main{
	font-size: 80px;
	color: #3777FF;
	margin-left:13%;
	margin-top:0;
	margin-bottom:0;
}

h2.main{
	font-size: 60px;
	color: #E6E6E6;
	margin-top:0;
	
	margin-bottom:0;
	margin-left:13%;
}


.main-btns {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-left:13%;
}

.download-button{
	background-color: #3777FF;
	color: #E6E6E6;
	padding-top:15px;
	padding-bottom:15px;
	
	width: 48%;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
}

.download-button:hover{
	color: #3777FF;
	background-color: #E6E6E6;
	text-decoration: none;
}

.download-button:active{
	color: #E6E6E6;
	background-color: #C9A91D;
	text-decoration: none;
}

/* gallery styles */

section {
    scroll-snap-align: center;
    height: 100vh; /* Cada sección ocupa toda la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
}


section.gallery{
	
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	flex-wrap: wrap;
	
}


.gallery-container{
	
	height: 50vh;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items:center;
	flex-wrap: wrap;
	
}




..main-container-game {
	
	display: flex;
	flex-flow: row wrap;
    justify-content: center;
	align-items: center;
	align-content: center;
	margin-top:5%;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}


.main-left-game-info{
	flex: 1;
}




.main-right-game {
  
    flex: 2.5;
}

.fill-right {
  
    flex: 1;
}


.main-left-game-info img{
   display: block;
   max-height: 70vh;
   
   
   
}
.pro-container {
    display: flex;
	flex-flow: column;
    justify-content: center;
	align-items: center;
	align-content: center;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
}

.pro-title{
	margin-top: 5%;
	margin-left: 5%;
	align-self: flex-start;
}

.top-row {
    display: flex;
	flex-flow: row;
    justify-content: space-evenly;
	align-items: stretch;
	align-content: center;
    /*height: 20%; /* Limita la altura de cada fila */
    margin-bottom: 5px; /* Reduce el espacio entre filas */
}

.bot-row {
    display: flex;
	flex-flow: row;
    justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
    /*height: 20%; /* Limita la altura de cada fila */
    margin-bottom: 5px; /* Reduce el espacio entre filas */
}

.bot-row-aca {
    display: flex;
	flex-flow: row;
    justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	width:100%;
    /*height: 20%; /* Limita la altura de cada fila */
    margin: 5px; /* Reduce el espacio entre filas */
}

.pro-fill-left {
  
    flex: 1;
}

.pro-left {
    flex: 1;
	text-align: center;
	

     
}

.pro-right {
    flex: 1; /* Reducimos el tamaño del área de imagen para hacer más espacio al texto */
	display: flex;
}

.pro-right img{
    display: block;
	max-height:70%;
    max-width:70%;
	margin:auto;
}

.academic-container, .skills-container{
	display: flex;
	flex-flow: column;
    justify-content: center;
	align-items: center;
	align-content: center;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
}

.bot-row-aca.pro-left{
	display: flex;
}



h1{
	font-size: 60px;
	color: #3777FF;
}

h2{
	font-size: 40px;
	color: #3777FF;
	
	margin-bottom:0;
	
}
h3{
	font-size: 30px;
	color: #E6E6E6;
	margin-bottom:0;
	margin-top:0;
}


p {
    font-size: 22px; /* Reduce un poco el tamaño de la fuente para más compresión */
    margin: 35px; /* Reduce el espacio entre párrafos */
    text-align: justify;
}

p.gameDescription {
    font-size: 22px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-top: 0;
    text-align: justify;
}



.keyword {
	font-weight: bold;
    color: #C9A91D;
}

/* Estilos para el enlace en su estado normal 
a {
    color: #4fe1ea;
    text-decoration: underline;
    transition: color 0.3s ease;
}

a:hover {
    color: #C9A91D;
    text-decoration: none;
}

a:active {
    color: #FF5588;
}

a:visited {
    color: #3777FF;
}
*/

