body {
    background-color: #0B132B;
    color: #6FFFE9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    max-width: 1000px;
    width: 90%;
    margin: auto;
}

.left, .right {
    flex: 1;
    padding: 20px;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    max-width: 100%;
    height: auto;
    
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: #6FFFE9;
}

p {
    font-size: 20px;
    margin-bottom: 15px;
}

.keyword {
    color: #FF2149;
}

/* Estilos para el enlace en su estado normal */
a {
    color: #FFFFFF;
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #C2FFF6;
    text-decoration: none;
}

a:active {
    color: #6FFFE9;
}

a:visited {
    color: #FFD737;
}
